.card-step {
    cursor: pointer;
    border: 1px solid black;
    width: 100%;
}
.card-step:hover {
    border: 1px solid green;
}
.card-item-selected {
    cursor: pointer;
    border: 1px solid green;
}