/* You can add global styles to this file, and also import other style files */
body {
    background-color: #141d26;
    color: #2ecc71;
}

.card {
    background-color: #243447;
}

.list-group > li {
    background-color: #243447;
}

.navbar {
    background-color: #243447 !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #243447; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1b2836; 
}